<style>
    .card-img-top {
        width: auto;          /* Ширина остается как есть */
        height: 300px;        /* Ограничиваем высоту изображения */
        object-fit: cover;    /* Изображение будет заполнять контейнер, сохраняя пропорции */
    }
</style>